<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorServerPdfExtractor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class = "nav-item px-3">
            <NavLink class="nav-link" href="extractpdf">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Extract PDF
            </NavLink>    
        </div>
         <div class = "nav-item px-3">
            <NavLink class="nav-link" href="comparepdf">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Compare PDF files
            </NavLink>    
        </div>
        <div class = "nav-item px-3">
            <NavLink class="nav-link" href="loadkeys">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Split PDF
            </NavLink>    
        </div>
        <div class = "nav-item px-3">
            <NavLink class="nav-link" href="loadkeys">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create PDF
            </NavLink>    
        </div>
        <div class = "nav-item px-3">
            <NavLink class="nav-link" href="loadkeys">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Load Adobe Keys
            </NavLink>    
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
