@page "/ExtractPdf"
@using System.IO
@using ExtractLibrary
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using BlazorServerPdfExtractor.Helper
@inject PdfTextExtractorService _PdfTextExtractorService
@inject IWebHostEnvironment env

<h3>Extract PDF</h3>

<p>
    <InputFile OnChange="@HandleFileSelected" MaxFileSize="104857600" />
    <button @onclick="ButtonClicked">Extract PDF</button>
    <textarea rows="5" cols="40" @bind="MyText"></textarea>
</p>

@code {

    private string MyText { get; set; }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        string targetFolderPath = @"D:\source\BlazorServerPdfExtractor\BlazorServerPdfExtractor\JsonResults\";

        IReadOnlyList<IBrowserFile> selectedFiles;
        selectedFiles = e.GetMultipleFiles();

        foreach (var file in selectedFiles)
        {
            var path = $"{targetFolderPath}{file.Name}";
            FileStream fs = File.Create(path);

            // Define the buffer size for reading chunks (1 MB in this example)
            const int bufferSize = 10 * 1024 * 1024; // 10 MB buffer size
            byte[] buffer = new byte[bufferSize];

            using (Stream stream = file.OpenReadStream(maxAllowedSize:2000000))
            {
                int bytesRead;
                while ((bytesRead = await stream.ReadAsync(buffer, 0, buffer.Length)) > 0)
                {
                    await fs.WriteAsync(buffer, 0, bytesRead);
                }
            }

            fs.Close();
        }
        this.StateHasChanged();
    }


    private async void ButtonClicked()
    {
        
         string targetFolderPath = @"D:\source\BlazorServerPdfExtractor\BlazorServerPdfExtractor\pdfFiles\health-insurance-application.pdf";
         MyText = $"{targetFolderPath} - begin extract";

        try
        {
            ExtractPDF extractPDF = new ExtractPDF();
            await extractPDF.ExtractTextFromPDF(targetFolderPath);
             
        }
        catch (Exception ex)
        {
            MyText = $"Error: {ex.Message}";
        }
    }
}